<div class="sidebar">
	<div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          <img class="profile-picture" src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}">
          {{ SITENAME }}
        </a>

        {% if pages or LINKS %}
          <div id="page-links">
        <nav>
          {% if not PAGES_SORT_ATTRIBUTE -%}
          {% set PAGES_SORT_ATTRIBUTE = 'title' %}
          {%- endif %}
          {% for page in pages|sort(attribute=PAGES_SORT_ATTRIBUTE) %}
          <a href="{{ SITEURL }}/{{ page.url }}{% if not DISABLE_URL_HASH %}{% endif %}">{{ page.title }}</a>
          {% endfor %}
          <a href="{{ SITEURL }}/archives.html">Archives</a>
        </nav>
        </div>
        {% endif %}
      </h1>
      <p class="lead">{{ SITESUBTITLE }} </p>
		</div>
		<nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="mailto:jfelipe.sfilho@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>
      {% for name, link in SOCIAL %}
			<a class="sidebar-nav-item" href="{{ link }}">
				<i class="fa fa-{{ name }}"></i>
			</a>
			{% endfor %}
			<a class="sidebar-nav-item" href="{{ FEED_ALL_ATOM }}">
				<i class="fa fa-feed"></i>
			</a>
		</nav>
	</div>
</div>
